<% provide(:title, "About") %>
<h1>About</h1>
    <p>
    The <a href="http://railstutorial.org"><em>ROR tutorial</em></a> is a
        <a href="http://railstutorial.org/book">book</a> and
        <a href="http://screencasts.railstutorial.org">screencast series</a>
        to teach web delvelpment with
           <a href="http://rubyonrails.org">Ruby on rails</a>
           This is the Share Experience
    </p>