<div class="center jumbotron">
    <h1>Welcome to Share Experience!</h1>

    <h2>
        Share your experience with the World, in all fields!
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>
<!--
<%= link_to image_tag("rails.png", alt: "Rails logo"),
'http://rubyonrails.org/' %> -->
