<div id="comment-<%= comment.id %>">
    <%= render 'shared/avatar', :user => current_user %>
  <!--<div class="col-lg-15 col-lg-offset-0 ">-->
  <div class="paragraph">
   <div class="content">
      <div class="row">
        <span class="text"><%= comment.comment %></span>
        </div>
        <div class="pull-right">
          <% if belongs_to_user?(comment) %>
            <%= link_to comment_path(comment), method: :delete, class: '  btn btn-danger btn-sm', remote: true do %>
              delete
            <% end %>
          <% end %>
      </div>
    </div>
    <hr>
  </div>
</div>