<h1>Posts Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <h3>
        <%= link_to post.try(:highlight).try(:title) ? post.highlight.title[0].html_safe : post.title,
          controller: "posts",
          action: "show",
          id: post._id%>
      </h3>
      <% if post.try(:highlight).try(:content) %>
        <% post.highlight.content.each do |snippet| %>
          <p><%= snippet.html_safe %>...</p>
        <% end %>
      <% end %>

      <% if post.try(:highlight).try(:category) %>
        <% post.highlight.category.each do |snippet| %>
          <p><%= snippet.html_safe %>...</p>
        <% end %>
      <% end %>

    </li>
  <% end %>
</ul>