<% if user %>
	<%= link_to user_path(user) do %>
		<% if user.avatar %>
			<%= image_tag user.avatar.url || 'avatar.jpg', class: 'avatar' %>
		<% else %>
			<%= image_tag 'avatar.jpg', class: 'avatar' %>
		<% end %>
	<%= user.username %>
	<% end %>
<% end %>