<h2> <%= current_user.email %> </h2>

<%= render 'shared/avatar', :user => current_user %>
<%= render 'new_post', remote: false %>
<br /><hr /><br />

<% @current_user_posts.each do |current_user_post| %>
<div id="post-<%= current_user_post.id %>" class="post">
  <div class="row">
   


    <div class="col-lg-15">
      <div class="row">
        <%= render template: 'posts/show', :locals=>{:post => current_user_post} %>
    </div>
  </div>
  <br /><hr /><br />
      </div>
  </div>
 <% end %>
 
