<% post ||= @post %>
<div id="post-<%= post.id %>" class="post">
  <div class="row">
   
    <div class="col-lg-15 col-lg-offset-2 well">
      <%= render 'shared/avatar', :user => post.user %>
      <div class="row">
        
      <%= render partial: 'posts/post', :locals=>{:post => post} %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-15 col-lg-offset-2 well">
    <h4>Comments</h4>
    
    <%= render 'comments/form', commentable: post %>
    <hr />
    <% @comments = post.comments %>
    <% @comments.each do |comment| %>
    <%= render 'comments/comment', commentable: post, comment: comment %>
    <% end %>
    <!-- <div class="comments">
       render(@comments) || render('shared/no_resource', resources: 'Comments') 
    </div> -->
  </div>
</div>
